version: "2.4"

networks:
  hadoop-net:
    driver: bridge

services:
  namenode:
    build: .
    container_name: hadoop-namenode
    hostname: namenode
    networks:
      - hadoop-net
    ports:
      - "9870:9870"
    volumes:
      - ./scripts:/scripts
      - hadoop-namenode-data:/hadoopdata/hdfs/namenode
    command: >
      bash -c "if [ ! -d /hadoopdata/hdfs/namenode/current ]; then hdfs namenode -format -force; fi; hdfs namenode"


  datanode:
    build: .
    container_name: hadoop-datanode
    hostname: datanode
    networks:
      - hadoop-net
    depends_on:
      - namenode
    volumes:
      - hadoop-datanode-data:/hadoopdata/hdfs/datanode
    command: bash -c "hdfs datanode"

  resourcemanager:
    build: .
    container_name: hadoop-resourcemanager
    hostname: resourcemanager
    networks:
      - hadoop-net
    ports:
      - "8088:8088"
    depends_on:
      - namenode
    command: bash -c "yarn resourcemanager"

  nodemanager:
    build: .
    container_name: hadoop-nodemanager
    hostname: nodemanager
    networks:
      - hadoop-net
    depends_on:
      - resourcemanager
    command: bash -c "yarn nodemanager"

volumes:
  hadoop-namenode-data:
  hadoop-datanode-data:
